/* css styles */

$primary: #a0abc7 !default;
$secondary:     #b0c4de !default;

/*-- scss:defaults --*/

// Nav bar
// Nav bar

.li.a.dropdown-item {
  color: "#b0c4de";
}

.dropdown-text {
  color: "#b0c4de";
}


// Typography

p.subtitle.lead {
  text-align: center;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:href {
  text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul {
  list-style-type: square;
}

.navbar {
  color: #FFFFFF;
}

.dropdown-menu a{
 color: #111111 !important;
}
.dropdown-menu a:hover{
 background: #014464!important;
 background: linear-gradient(left, #b0c4de, #b0c4de);
 background: -moz-linear-gradient(left, #b0c4de, #b0c4de)!important;
 background: -webkit-gradient(linear, 100% 100%, 0% 0%, from(#b0c4de), to(#b0c4de))!important;
color: #f8f9fa !important;
 -webkit-transition: all 0.2s ease-in-out;
 -moz-transition: all 0.2s ease-in-out;
 transition: all 0.2s ease-in-out; }


//** Global textual link color.
$link-color:            #7383ac !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link decoration.
$link-decoration: none;
//**$link-hover-decoration: none;

$code-block-bg: #2B2423;

.navbar {
  color: #FFFFFF;
}


a.sidebar-item-text.sidebar-link {
    color: #FFFFFF;
}

.navbar li.dropdown-header {
  text-transform: none;
}
